---
import content from '../content.json';
const contentText = JSON.stringify(content, null, 2);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Harrison Chojnowski</title>
  </head>
  <body>
    <pre>{contentText}</pre>
  </body>
</html>
